@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family: Raleway, Helvetica, sans-serif;
    background-color: #111111;
    text-align: center;
    font-size:16px;
    color:#e4e4e4;
}

a{
    text-decoration: none;
    color: #42f0d9;
}

a:hover{
    color: #08b69f;
}

form{
    line-height: 1.6;
    padding: 5px;
}

input{
    border-radius: 5px;
}

input[type=submit]{
    font-family: Raleway, Helvetica, sans-serif;
    font-size:1rem;
    background-color: #111111;
    padding: 0.6rem;
    border-color: #3f3f3f;
    border-radius: 70px; 
    border-style: solid;
    color:#fff;
}

input[type=submit]:hover{
    border-color: #636363;
}

nav{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

nav ul{
    padding:0px;
    margin:0;
    list-style-type: none;
}

nav li{
    display: inline;
    padding: 0px 10px;
    text-transform: uppercase; 
}

nav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#register a{
    color:#00ff62;
    font-size: 1.1rem;
}

#register a:hover{
    color:#00b846;
}

.container{
    width: 90%;
    margin: auto;
    padding-bottom:30px;
    /*border-color: red;
    border-style: solid;*/
}

#showcase{
    max-height: 200px;
    /*background: url(../img/header_bg.jpg) 0px -400px no-repeat;*/;
}

#showcase h1{
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

#showcase h2{
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
}

/* Gra.php */

#logout{
    padding-top:20px;
}


/* Rejestracja.php */

.error{
	color:#ff0000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.g-recaptcha {
    margin: 0 auto;
    width: 304px;
    padding-bottom: 25px;
  }

#registerForm label{
    display: block;
}

#registerForm input{
    margin-bottom:10px;
    margin-top:0px;
}

/* Quiz.php */

.question{
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: #505050;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin:10px 0px;
}

.question label{
    display: block;
}

/* end.php */

#summary{
    line-height: 1.5;
}

#answers{
    text-align: left;
    line-height: 1.5;
    margin-bottom: -20px;
}

h3{
    margin-bottom: 0px;
}

/* ranking.php */

table{

    border: 5px; 
    padding: 5px;
    border-spacing: 1px;
    margin: auto;
    min-width: 350px;
}

th, td{
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 5px 9px;
    text-align: center;
}

caption{
    padding-bottom: 5px;
    font-weight: bold;
}






@media (max-width: 560px){
    nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    table{
        min-width: 0px;
    }

    #showcase h1{
        font-size: 1.5rem;
    }

    #showcase h2{
        display: none;
    }
}

@media (max-height: 400px){
    footer{
        display:none;
    }    
}